{% extends "layout.html" %}
{% block title %}Add Product{% endblock %}
{% block content  %}
<div class="container-fluid">

<div class="container-fluid bg-3">
  <div class="panel panel-default">
  <div class="panel-heading">Do you really want to delete {{item_name}} ?</div>
  <div class="panel-body">
    <form class="" action="{{url_for('deleteItem',item_id=item_id)}}" method="post">

      <button class="btn btn-info" role="button">Yes</button>
      <a href="{{url_for('account',email_id=session['username'])}}" class="btn btn-info" role="button">Cancel</a>
</form>

</div>
</div>
</div>
</div>
{% endblock %}
